body{
  background-color: #111;
  color: #7CFC00;
  font-family: 'Share Tech Mono', Arial, monospace ;
}
#fondo{
  height: 100%;
  width: 100%;
}

.disabled, .disabled:hover, .disabled:focus{
  background: transparent!important;
  color: #7CFC00!important;
  cursor: inherit!important;
}

#fondo > img{
  width: auto;
  height: 790px;
  display: block;
  margin: 0 auto;
}
#intentos span{
  background-color: #7CFC00;
}

#pantalla-texto{
  margin: 10px auto;
  margin-top: -710px;
  height: 550px;;
  width: 770px;
  font-size: 22px;
}

#info_juego{
  height: auto;
  width: 100%;
}
#info_juego, #intentos{
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}
#intentos{
  width: 50%;
}
#vidas_crono{
  display: flex;
}
#tiempoCrono{
  width: 40%;
  height: auto;
  text-align: right;

}
#filete{
  border: 1px solid #67FF1D;
  margin: 20px 0;
}

#juego{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  line-height: 25px;

}
#titulo_principal{
  
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #02730a, 0 0 20px #02730a, 0 0 30px #00e600, 0 0 40px #00e600;
  }
  
  to {
    text-shadow: 0 0 20px #02730a, 0 0 30px #4dff59, 0 0 40px #4dff59, 0 0 50px #4dff59;
  }
}

.opciones{
  position: relative;
  width: 100%;
  height: 100%; 
  text-align: center;
  line-height: 200%;
  z-index: 100;
  
}
.opciones input{
  border: none;
  background-color: transparent;
  width:200px;
  height: 30px;
  color: #7CFC00;
  font-family: 'Share Tech Mono', Arial, monospace ;
  font-size: 20px;


}

.opciones input:hover{
  background-color: #67FF1D;
  color: #000;
  cursor: pointer;

}

.opciones h1{
  margin-top: 10%;
  font-size: 40px;
  padding:10px;
  
}

#opcion1{
  position: relative;
  top:20%;
  

}

#opcion2{
  position: relative;
  top:22%;
  

}

#codigo{
  width: 10%;
  height: 80%;
}
.caracteres{
  width: 20%;
  height: 77%;
  margin-right: 4%;
  column-count: 2;
  column-gap: 110px;
  column-width: 100px;
}
.caracteres span:hover{
  background-color: #67FF1D;
  color: #000;
  cursor: pointer;
}

#mensajes{
  width: 29%;
  height: 80%;
  margin-left: 25%;
  display: flex;
  flex-direction: column-reverse;
}

.mensaje{
  width: 100%;
  height: 15%;
}

#divblink{
  height: 5%;
  width: auto;
  margin-right: 10%;
  margin-top: 50%;
  display: flex;
  
  

}
.blink {
  animation: parpadeo 1s step-start infinite;
}

@keyframes parpadeo {
  50% {
    opacity: 0;
  }
}

.resolucion-peque{
  visibility: hidden;
}
#efecto{

    position: absolute;
    left: 25%;
    top: 10%; 
    width : 50%;
    height : 50px;
    background-image: linear-gradient(to bottom,
    rgba(0, 209, 0, 0),
    rgba(0, 209, 0, 1));
    animation: scanning 6s linear infinite; 
    
    transition-delay: initial;
    
    z-index: -20;
    

  }
  @keyframes scanning {
    60%, 100% { opacity:0;transform: translate(0, 460px); }
    0% {opacity: 0;}
    10% {opacity: 1;
  }
}

.buentrabajo img{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 30px;
  height: auto;
  z-index: 10;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  
  
}

    

  
  





.finjuegoimagen img{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 30px;
  height: auto;
  z-index: 10;
  visibility: visible;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  visibility: visible;
  animation: spin 6s;
  -webkit-transform: scale(10) rotate(360deg);
  transform: scale(10) rotate(360deg);
  }



@media screen and (max-width:970px) , screen and (max-height:800px){
  #fondo > img{
    width: 800px;
    height: auto;
  }
  

  #pantalla-texto{
    height: 460px;
    width: 650px;
    margin-top: -600px;
    font-size: 14px;
  }

  #info_juego, #intentos, #tiempoCrono{
    font-size: 17px;
  }

  #juego{
    line-height: 22px;
  }

  .mensaje1{
    margin-top: 370px;
  }
  .mensaje2{
    margin-top: -156px;
  }

}


@media screen and (max-width:785px) , screen and (max-height:100px){
  #fondo > img{
    visibility: hidden;
  }
  #pantalla-texto{
    visibility: hidden;
  }
  #divblink{
    visibility: hidden;
  }
  


  .resolucion-peque{
    visibility: visible;
    height: 60px;
    width: 350px;
    color: #7CFC00;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-top: -250px;
  }
}
